extends layout

block content
    h1 #{title}
    form(method='POST', action='/ads/create')
        #form-group
            label Title:
            input.form-control(name='title', type='text')
        br
        #form-group
            label Author:
            input.form-control(name='author', type='text')
        br
        #form-group
            label Content:
            textarea.form-control(name='content')
        br
        input.btn.btn-primary(type='submit', value='Submit')